.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
}

.money{
  width:65%;
  height:100%;
  align-self: center;
}

@media (max-width:767px){
.money {
  width : 85%;
}  
}